:root {
  /* EDS - Color Primitives */
  --color-palette-brand-1: #396fe5;
  --color-palette-brand-2: #0a63ff;
  --color-palette-brand-3: #578cff;
  --color-palette-status-success: #00d15c;
  --color-palette-status-warning: #ffa400;
  --color-palette-status-error: #ff3d00;
  --color-palette-status-info: #2e59b7;
  --color-palette-status-hint: #638bf7;
  --color-palette-status-disconnect: #be4954;
  --color-palette-status-disconnect-dark: #842029;
  --color-palette-status-offline: #be4954;
  --color-palette-status-offline-dark: #be4954;
  --color-palette-data-electricity: #477ef4;
  --color-palette-data-humidity: #4b9ce4;
  --color-palette-data-grid: #46cbfd;
  --color-palette-data-solar: #fae15b;
  --color-palette-data-earnings: #ffcf00;
  --color-palette-data-output: #ff9500;
  --color-palette-data-impact: #2bd89a;
  --color-palette-data-charger: #1bd6a7;
  --color-palette-data-energy: #03c759;
  --color-palette-gray-100: #f3f3f3;
  --color-palette-gray-200: #e5e5e6;
  --color-palette-gray-300: #c9c9c9;
  --color-palette-gray-400: #a7a7a8;
  --color-palette-gray-500: #7d7d7e;
  --color-palette-gray-600: #39393d;
  --color-palette-gray-650: #333337;
  --color-palette-gray-700: #2c2c2f;
  --color-palette-gray-750: #242427;
  --color-palette-gray-800: #19191b;
  --color-palette-gray-850: #010101;
  --color-palette-alpha-white-100: #ffffff;
  --color-palette-alpha-white-92: rgba(255, 255, 255, 0.92);
  --color-palette-alpha-white-80: rgba(255, 255, 255, 0.80);
  --color-palette-alpha-white-65: rgba(255, 255, 255, 0.65);
  --color-palette-alpha-white-60: rgba(255, 255, 255, 0.60);
  --color-palette-alpha-white-45: rgba(255, 255, 255, 0.45);
  --color-palette-alpha-white-35: rgba(255, 255, 255, 0.35);
  --color-palette-alpha-white-12: rgba(255, 255, 255, 0.12);
  --color-palette-alpha-white-8: rgba(255, 255, 255, 0.08);
  /* EDS - Color Semantic */
  --color-text-primary: var(--color-palette-alpha-white-100);
  --color-text-secondary: var(--color-palette-alpha-white-60);
  --color-text-tertiary: var(--color-palette-alpha-white-45);
  --color-text-disabled: var(--color-palette-alpha-white-35);
  --color-surface-base: var(--color-palette-gray-850);
  --color-surface-container: var(--color-palette-gray-800);
  --color-surface-overlay: var(--color-palette-gray-750);
  --color-overlay-low: var(--color-palette-alpha-white-8);
  --color-overlay-high: var(--color-palette-alpha-white-12);
  --color-overlay-mask: rgba(1, 1, 1, 0.60);
  --color-border-default: var(--color-palette-alpha-white-8);
  --color-interactive-primary: var(--color-palette-brand-1);
  --color-status-success-text: var(--color-palette-status-success);
  --color-status-success-background: rgba(0, 209, 92, 0.12);
  --color-status-warning-text: var(--color-palette-status-warning);
  --color-status-warning-background: rgba(255, 164, 0, 0.12);
  --color-status-error-text: var(--color-palette-status-error);
  --color-status-error-background: rgba(255, 61, 0, 0.12);
  --color-status-info-text: var(--color-palette-status-info);
  --color-status-info-background: rgba(46, 89, 183, 0.12);
  --color-data-electricity: var(--color-palette-data-electricity);
  --color-data-humidity: var(--color-palette-data-humidity);
  --color-data-grid: var(--color-palette-data-grid);
  --color-data-solar: var(--color-palette-data-solar);
  --color-data-earnings: var(--color-palette-data-earnings);
  --color-data-output: var(--color-palette-data-output);
  --color-data-impact: var(--color-palette-data-impact);
  --color-data-charger: var(--color-palette-data-charger);
  --color-data-energy: var(--color-palette-data-energy);
  --color-text-on-light-primary: var(--color-palette-gray-850);
  --color-text-on-light-secondary: var(--color-palette-gray-650);
  --color-text-on-light-tertiary: var(--color-palette-gray-400);
  --color-text-on-light-disabled: var(--color-palette-gray-300);
  /* EDS - Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-layout-xs: [object Object]px;
  --spacing-layout-sm: [object Object]px;
  --spacing-layout-md: [object Object]px;
  --spacing-layout-lg: [object Object]px;
  --spacing-layout-xl: [object Object]px;
  --spacing-component-xs: [object Object]px;
  --spacing-component-sm: [object Object]px;
  --spacing-component-md: [object Object]px;
  --spacing-component-lg: [object Object]px;
  --spacing-component-xl: [object Object]px;
  --spacing-grid-gutter: [object Object]px;
  --spacing-grid-margin: [object Object]px;
  --spacing-grid-column-gap: [object Object]px;
  /* EDS - Radius */
  --radius-xs: 6px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-2xl: 32px;
  --radius-component-xs: [object Object]px;
  --radius-component-sm: [object Object]px;
  --radius-component-md: [object Object]px;
  --radius-component-lg: [object Object]px;
  --radius-component-xl: [object Object]px;
  --radius-component-2xl: [object Object]px;
  --radius-surface-sm: [object Object]px;
  --radius-surface-md: [object Object]px;
  --radius-surface-lg: [object Object]px;
  --radius-surface-xl: [object Object]px;
}
